@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.signatureCanvas {
  border: 1px solid #ccc;
  margin-top: 10px;
  max-width: 100%; /* Ensure the canvas doesn't exceed its container */
}

/* Responsive styles */
@media (max-width: 768px) {
  .signatureCanvas {
    max-width: 90%; /* Reduce the canvas width on smaller screens */
  }
}
